

.xlh {
   color:black;
   font-weight: bold;
   font-size:60px;
   text-align: left;
   margin:0;
   /* word-spacing: -12px;
   letter-spacing:-4px; */
}
.lh {
   color:black;
   font-weight: bold;
   font-size: 40px;
   text-align: left;
   margin:0;
}
.h {
   color:black;
   font-weight: bold;
   font-size: 34px;
   text-align: left;
   margin:0;
}
.lt {
   color:black;
   font-size: 24px;
   margin:0;
}
.t {
   font-family: 'Space Grotesk', sans-serif;
   font-size:18px;
   margin:0;
   color:black;
}
.st { 
   font-size:16px;
   margin:0;
}
@media screen and (max-width:1400px) {
   .xlh {
      font-size: 45px;
   }
   .lh {
      font-size: 30px;
   }
   .h {
      font-size:27px;
   }
   .lt {
      font-size:19px;
   }
   .t {
      font-size:14px;
   }
   .st {
      font-size:12px;
   }
}
.line {
   border-width:0;
   border-radius:12px;
   padding:0px;
   margin-top:20px;
   margin-bottom:20px;
   width:100%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.line.red {
   background-color:#f34141;
   height:4px;
}
.line.blue {
   background-color:#5da9f0;
   height:4px;
}
.line.pink {
   background-color:#cd63f7;
   height:4px;
}
.line.yellow {
  background-color:#fcdd56;
  height:4px;
}

.center-container {
   margin: auto;
   width: 70%;
   padding: 10px;
}
@media screen and (max-width:1400px) {
   .center-container {
      width:90%;
   }
}
.funky-button{
   font-family: 'Lexend Deca', sans-serif;
   border-width:0;
   border-radius:12px;
   padding:14px;
   background:#f34141;
   color:white;
   transition:0.2s;
   margin-right:20px;
   margin-left:20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.funky-button:hover{
   transform:rotate(5deg) scale(1.2, 1.2);
}

.footer-gerg {
   margin-top: auto;
   bottom:0%;
   width:100%;
   background: rgb(1,88,113);
   background: linear-gradient(0deg, rgba(1,88,113,0.4) 0%, rgba(255,255,255,0) 100%);
   text-align:center;
   padding:80px;
}
.footer-join {
   width:100%;
   margin-left:auto;
   margin-right:auto;
}
.footer-contact {
   float:left;
}
.footer-support {
   float:right;
}
.white {
   color:white;
}

.topbar {
   position:fixed;
   top:0;
   width:100%;
   height:70px;
   background:white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   display:flex;
   flex-wrap:wrap;
   flex-direction:row;
   justify-content:space-between;
   align-items:center;
}
.topbar-logo {
   margin:10px;
   display:flex;
   flex-wrap:nowrap;
   flex-direction:row;
   justify-content:flex-start;
   align-items:center;
}
.topbar-menu {
   display:flex;
   flex-wrap:nowrap;
   flex-direction:row;
   justify-content:flex-start;
   align-items:center;
}
.topbar-burger {
   display:none;
   margin-right:20px;
   float:right;
   background:none;
   border:none;
   transition:0.3s;
}
.topbar-burger:hover {
   transform: scale(1.2, 1.2) rotate(180deg);
}
.topbar-burger:active {
   transform: scale(0.5, 0.5) rotate(180deg);
}
.top-button {
   font-family: 'Space Grotesk', sans-serif;
   font-weight:bold;
   text-align:center;
   text-decoration:none;
   color:#111112;
   padding:10px;
   backface-visibility: hidden;
   transform: scale(1, 1);
   opacity:1;
   transition: transform 0.2s, opacity 0.2s;
}
.top-button:hover {
   transform: scale(1.1, 1.1);
   color:#111112;
   cursor:pointer;
   opacity:1;
}
.topbar-dropdown {
   display:flex;
   align-items: center;
   flex-direction: column;
   flex-wrap: nowrap;
   position:fixed;
   top:70px;
   width:100%;
   margin:auto;
}
.topbar-dropdown .top-button {
   text-align:center;
   padding-top:20px;
   padding-bottom:20px;
}
@media screen and (max-width:800px) {
   .topbar-menu {
      display:none;
   }
   .topbar-dropdown {
      display:flex;
   }
   .topbar-burger {
      display:flex;
   }
}
.top-button:after {
   display:block;
   content: '';
   border-bottom: solid 3px #d83013;  
   transform: scaleX(0);  
   transition: transform 250ms ease;
 }
 .top-button:hover:after { transform: scaleX(1); }
 .top-button.fromRight:after{ transform-origin:100% 50%; }
 .top-button.fromLeft:after{  transform-origin: 0% 50%; }

